h1 {color: rgb(117, 117, 158)}

#hi {text-align: center;}
html {background-color: antiquewhite;}
#p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
img {
    height: 200px;
    width: 300px;
  }